<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="root" style="display: flex; flex-direction: column;align-items: center;">
    <h1 style="text-align: center;">Story Generator</h1>
    <form id="pdfForm" enctype="multipart/form-data" action="/submit" method="post">
      <div style="display: flex; flex-direction: column; gap: 15px;">
        <label for="pdf">Upload Your Image</label>
        <input type="file" name="image" id="image" required onchange="previewImage(event)" />
        <button class="btn btn-danger" style="width: 100px; align-self: center;" type="submit">Submit</button>
      </div>
    </form>
    <img id="preview" style="max-width: 30%; display: none; margin-top: 10px;" />
{% if story %}
    <div id="result" style="margin-top: 30px; max-width: 800px;">
     {{story}}
    </div>
    {% endif %}
  </div>  
</body>
  <script>
function previewImage(event) {
  const reader = new FileReader();
  reader.onload = function(){
    const img = document.getElementById('preview');
    img.src = reader.result;
    img.style.display = 'block';
  }
  reader.readAsDataURL(event.target.files[0]);
}
</script>
</html>